
h1,h2,p {
    color: white;
}

body {
    background-color: #272238;
}

.Banner {
    width: 100%;
    margin-bottom: 30px;
    background-color: #272238;
}

.Item__Header {
    background-color: #B73F34;   
    color: #FFFFFF
}

.Item__GroupScores {
    color: #FFFFFF;
    margin-bottom: 50px;
}

.rounded_borders {
	background: #B73F34;	 
	border-radius: 15px;
	border: 6px solid white;
}


.score__row, .score {
    height: 90px;
    line-height: 74px; /* this plus cell padding (16px) equals score height */   
} 

.score {
	background: #B73F34;	 
	border: 6px solid white;
    color:white;
    font-size: 60px; 
}

.carousel-img {
    height: 200px;
    /* max-height: 200px;
    width: auto;     */
}

.auth-form-wrapper {
    max-width: 400px;
    margin: 0 auto;
}

/* .score.p {
    display: flex;
    align-items:center;    
    text-align: middle;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 10px;
} */